.wrapper {
    &.black { background: #000; }
    &.white, .bg-white { background: #fff; }
    &.gray-dark, .bg-darkgray { background: @gray-dark; }
    &.gray { background: @gray-light; }
    &.gray-light { background: @gray-lighter; }
    &.blue, .bg-blue { background: @primary; }
    
    // Dark backgrounds
    &.black, &.blue, .bg-blue {
        color: @gray-light;
        a { color: #fff; }
        h3 a { color: #fff; }
        p { color: @gray-light; }
    }
}
.main {
    & > .wrapper {
        padding: @grid-gutter-width * 2 0;
        
        &.we-support {
            height: 700px; position: relative; background: url('../img/iran-bg.png') no-repeat center top @primary;
        }
    }
}