// Imports
@import "../bootstrap/_variables";
@import "../bootstrap/_mixins";
/*
@import "awesome-bootstrap-checkbox";
@import "bootstrap-table";
@import "bootstrap-wysisyg";
@import "cropper";
@import "font";
@import "jstree";
@import "ladda.min";
@import "loading";
@import "login";
@import "modal-transitions";
@import "select2";
@import "x-editable";
*/
// @import "../global/plugins/select2";
// @import "../global/components/elements/cards/_card-1";
 
// Global Rules
h1, h2, h3, h4, h5, h6 { font-family: 'Vazir', Tahoma; direction: ltr; text-align: left; }
.help-block, #main, p, button, label, table, tr, td, textarea, strong  { direction: ltr; text-align: left; }
.label { font-family: 'Vazir', Tahoma; direction: ltr; }
.table-striped>tbody>tr:nth-of-type(odd) { background-color: #f6f7f8; }
#user-acl-page {
    ul, li { list-style: none; }
}
.fixed-table-toolbar {
    .search { float: left !important; }
}
.audioplayer {
    position: fixed; background: #242828; bottom: 33px; height: 80px; width: 100%; right: 0; z-index: 10; padding-top: 20px;
}
.mt-element-card {
    .mt-card-item .mt-card-content {
        h3, p { text-align: center !important; }
    }
    &.mt-card-round .mt-card-item .mt-card-avatar img { display: block; width: 100%; height: auto; }
}

// Header
.breadcrumbs { 
    background: #f9f9f9; margin-left: -30px; margin-right: -30px; padding-left: 30px; padding-right: 30px; height: 40px; 
    h1 { font-family: 'Vazir', Tahoma; line-height: 40px; }
}
.navbar { min-height: 0 !important; }
.top-tools { float: left; height: 100%; line-height: 40px; }
.page-header.navbar .top-menu .navbar-nav > li.quick-sidebar-toggler > i:before { content: "\f08b" }
.page-header.navbar .menu-toggler { background-image: url('../img/sidebar-toggle-light.png') }
.page-header.navbar .page-logo {
    width: 315px;
    .logo-default { margin-top: 5px; }
}
.page-header.navbar .top-menu .navbar-nav > li{
    &.dropdown-extended .dropdown-menu { width: 400px; max-width: 400px; }
    &.dropdown-extended .dropdown-menu .dropdown-menu-list>li>a {
        font-size: 80%;
        &.seen-status { border: 2px solid #dadce4 !important; }
    }
    &.dropdown-notification .dropdown-menu .dropdown-menu-list>li a .time { max-width: 100px; }
}

.notifications-list li {
    position: relative;
    .seen-status {
        padding: 0 !important; position: absolute; top: 15px; right: 15px; display: block; content: ''; background: #dadce4;
        width: 10px; height: 10px; border-radius: 100% !important;
        &:hover { background: #dadce4 !important; }
    }
    &.read {
        .seen-status {
            background: transparent !important; cursor: default;
            &:hover { background: transparent !important; }
        }
    }
}

// Toolbar
#toolbar:empty { visibility: hidden; height: 0; margin-top: -50px; transition: 0.2s all; }
#toolbar .input-group-addon {
    min-width: 84px;
    &.has-icon {
        min-width: 0; width: 40px;
        > i { color: #888; }
    }
}
#sub-toolbar {
    .portlet { margin-top: -25px; }
    .duplicate-schedule { border-top: 3px solid #8E44AD; }
    .export-schedule { border-top: 3px solid #EF4836; }
    // .input-group-addon:last-child { border-left: 1px; }
    // .input-group-addon:first-child { border-left: 0 none; }
}
.dropdown-menu { font-family: 'Vazir', Tahoma; }
.ltr { font-family: Tahoma, Arial; direction: rtl; }
.ltr-fnum { font-family: 'Vazir', Tahoma; direction: rtl; }
.btn .index {
    display: inline-block;
    &:before { content: '['; }
    &:after { content: ']'; }
    &:empty { display: none; }
}

// Componenets 
.ui-draggable-handle{-ms-touch-action:none;touch-action:none}
.table {
    figure {
        width: 120px;
        img { display: block; width: 100%; height: auto; max-height: 68px; }
    }
    .form-group.form-md-line-input { margin-bottom: 0; }
    thead tr th { font-size: 16px; }
}
ul.tabs-left { padding-right: 0; padding-left: 20px; }
input[type="checkbox"] { outline: 0 none !important; }
input.focus-helper { width: 0px; height: 0px; border: 0 none; box-shadow: 0 none; background: transparent; }
input.time { text-align: center; direction: rtl; } 
input.datepicker { direction: rtl; text-align: right; /* min-width: 200px; */ }
.form-inline {
    .form-group { margin-right: 10px; }
    button ~ button { margin-left: 10px; }
}
.form-horizontal {
    .checkbox { margin-top: 6px; } 
}
.fixed-label.form-group.form-md-line-input label {
    color: #cdcdcd; font-size: 12px; text-indent: 16px;
    width: 100%; position: absolute; left: 0; bottom: 0; pointer-events: none;
}
.remove-meta {
    position: absolute; top: 0; left: 0; font-weight: bold; color: gray;
    &:hover { color: #333; text-decoration: none; }
}
.box.portlet { direction: ltr; text-align: left; }
.editable-input textarea { min-width: 450px; }
.editable-input input { min-width: 450px; padding-left: 24px; padding-right: 12px !important; }
.form-group.form-md-line-input .form-control:not(select):not(textarea) { font-size: 16px; }
.rtl-date { direction: rtl; display: inline-block; }
// Typeahead
.tt-cursor { background: #eee; }
.tt-hint { color: #ccc !important }
.tt-menu {
    min-width: 100% !important; width: auto !important; right: auto !important; left: 0 !important; max-width: 400px;
     .fa.suggestion-1:before { content: "\f07b"; } // Folder
     .fa.suggestion-2:before { content: "\f15b"; } // File
     .fa.suggestion-3:before { content: "\f0ce"; } // Table
}
.tt-suggestion { font-size: 13px !important; white-space: nowrap; text-overflow: ellipsis; }

.form-group.form-md-line-input .help-block { max-height: 18px; overflow: hidden; }
.modal-content { border-radius: 0; }
.clip-line { margin-bottom: 0; max-height: 16px; overflow: hidden; }
////// JWPlayer hacks
#player_controlbar.jwcontrolbar { opacity: 1 !important; display: inline-block !important; visibility: visible !important; }
.jwrailgroup.Buffer { opacity: 1 !important; }
.jwicon { width: 72px !important; }

// Plugins
.toast { direction: ltr; text-align: left }
.toast-title { margin-bottom: 7px; }
#tree.jstree [deleted="true"] a {
    color: red !important;
    .jstree-icon { color: red !important; -webkit-filter: none; filter: none; }
}
.bootbox {
    .bootbox-close-button { margin-top: 0 !important; }
    .bootbox-body { direction: ltr; text-align: left; }
    button[data-bb-handler="confirm"] { float: left; }
}
// Accordoins
.panel-default>.panel-heading {
    padding: 0;
    h4 a { padding: 10px 15px; display: block; }
}
// Datepicker
.datepicker-plot-area { z-index: 12000; }

// Cropper
#cropper {
    img { display: block; max-width: 100%; height: auto; }
}
.crop-info { margin: 15px; }

// Tootltip
div.tooltip-inner {
    max-width: 400px;
}
 
// Mainbody
#main { padding-bottom: 100px; }
.page-content { padding-top: 30px; } 
.page-content { padding-top: 0 !important; }

// Sidebar
.page-sidebar { text-align: left; }

@media (min-width: 992px) {
    // .page-sidebar-menu.page-sidebar-menu-hover-submenu li .sub-menu { left: -235px; }
    .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed>li:not(.heading):hover { right: -235px }
}

// Footer
.page-footer-fixed .page-footer {
    background-color: #d7ddec;
}
.page-footer-inner { width: 100% }
#status-items { float: left; }
#server-time { float: right; color: #000 }
.refresh-view {
    float: right; margin-left: 20px; cursor: pointer; opacity: 0.5; transition: 0.2s all;
    &:hover { opacity: 1; }
}
.scroll-to-top { bottom: 40px; }

// Fixed Toolbar
body.fixed-toolbar {
    #toolbar { position: fixed; top: 0; z-index: 800; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12); }
    #main { margin-top: 25px; }
}
// Handling item types
.table {
    tr[data-type] {
        figure {
            position: relative; 
            &:before {
                display: block; font-family: 'FontAwesome'; font-size: 10px; background: rgba(0, 0, 0, 0.4); position: absolute; top: 0; right: 0; color: #fff; text-align: center;
                width: 20px; height: 20px; line-height: 20px;
            }
        }
        &[data-type="0"] figure:before { content: '\f008' } // Video
        &[data-type="1"] figure:before { content: '\f03e' } // Photo
    }
}

// Pages
.page-404-full-page .page-404 {
    margin-top: 210px;
    .number { top: -40px; }
}
/// Login
.login-content h1 { margin-bottom: 60px; } 

/// Schedules
@-webkit-keyframes border_blink {    
    from, to { border-color: red; }
    50% { border-color: #fff; }
} 

#schedule-page {
    .fixed-table-body { overflow-x: visible; overflow-y: visible; }
    .table {
        table-layout: fixed; transform: rotateX(0deg);
        p { margin-bottom: 0; }
        .idx ~ a { display: block; margin-top: 25px; }
        textarea { height: 70px; }
        &:not(.titles) {
            th {
                &.small { min-width: 40px; max-width: 50px; }
            }
            *:not(.preview-pane) tr {
                border-left: 5px solid #ddd;
                td:first-child { position: relative; }
                .tools {
                    position: absolute; top: 0; left: 0; width: 37px; background: #cbcbcb; opacity: 0; visibility: hidden; height: 100%;
                    // transition: 0.2s all;
                    .btn {
                        height: 50%; transition: 0.2s all;
                        &:hover { background: #c9c9c9; }
                    }
                } 
                &.active {
                    border-left-color: #cbcbcb;
                    .tools { left: -42px; opacity: 1; visibility: visible; }
                }
                &.new { border-left-color: lightgreen; }
                &.error { border-left-color: red !important; }
                &.edited { border-left-color: #6C9EE0; }
                &.fixed { border-left-color: #1BA39C }
                &.gap { border-left-color: #333 }
                &.selected { background-color: #E5E5E5 !important; }
                &.overlap { animation: border_blink 1s step-end infinite; }
            }
            .table {
                margin-bottom: 0;
                tr { cursor: default; }
                .portlet { margin-bottom: 0; }
            }
            thead tr {
                th:not([class]) { min-width: 50px; }
            }
            .text-area-container { padding-top: 0; }
        }
    }
} 

.c1 { width: 8.33333%; float: left; }
.c2 { width: 16%; float: left; }
.c3 { width: 20%; float: left; }
div#schedule-table {
    transform: translateZ(0); backface-visibility: hidden; transform: translate3d(0, 0, 0);
    font-size: 16px;
    margin-bottom: 0;
    .id, .r { padding: 0 6px; float: left; position: relative; box-sizing: border-box; }
    .id { width: 4.33333%; }
    .r { width: 3.33333%; }
    input, textarea { transition: none; }
    .form-group.form-md-line-input .form-control ~ label:after { transition: none; }
    figure {
        overflow: hidden; margin: 0 auto; max-width: 100%;
        img { max-width: 100%; height: auto; }
    }
    .table-header {
        font-weight: bold; border-left: 5px solid transparent;
        clear: both;
        > div {
            // padding: 0 15px;
            padding: 0 6px; font-size: 15px;
            float: left; position: relative; box-sizing: border-box;
            outline: 1px solid #e7ecf1;
            }
        span {
            display: block; padding: 5px 0;
            // border-right: 1px solid #e7ecf1;
            // &:last-child { border-left: 1px solid #e7ecf1; }
        }
        // .th { font-weight: bold; }
    }
    [data-type="episode-number"] {
        margin-top: 20px; border: 0 none; background: transparent; box-shadow: none; border-bottom: 2px solid transparent; font-size: 16px;
        &:focus { border-bottom: 2px solid #36c6d3; }
    }
    .table-body {
        // @include clearfix;
        list-style: none; padding: 0; margin: 0;
        .table-row {
            @include clearfix;
            border-left: 5px solid #ddd;  padding: 0; margin: 0;
            &.active { background: #eef1f5; }
            .td {
                height: 80px; outline: 1px solid #e7ecf1; padding: 8px 8px 0;
                &.ep { padding: 8px 0 0; }
                &.img { padding: 6px 6px 0; }
            }
            .id, .r { text-align: center; }
            textarea {
                height: 55px; background: transparent; border: 0 none; box-shadow: none; border-bottom: 1px solid #c2cad8;
                // &:focus { border-bottom: 2px solid #36c6d3; }
            }

            .tools {
                position: absolute; top: 0; left: 0; width: 37px; background: #cbcbcb; opacity: 0; visibility: hidden; height: 100%;
                .btn {
                    height: 50%;
                    &:hover { background: #c9c9c9; }
                }
            } 

            &.active {
                border-left-color: #cbcbcb;
                .tools { left: -42px; opacity: 1; visibility: visible; }
            }
            &.new { border-left-color: lightgreen; }
            &.error { border-left-color: red !important; }
            &.edited { border-left-color: #6C9EE0; }
            &.fixed { border-left-color: #1BA39C }
            &.gap { border-left-color: #333 }
            &.selected { background-color: #E5E5E5 !important; }
            &.overlap { animation: border_blink 1s step-end infinite; }
        }
    }
    .tools {
        position: absolute; top: 0; left: 0; width: 37px; background: #cbcbcb; opacity: 0; visibility: hidden; height: 100%;
        // transition: 0.2s all;
        .btn {
            height: 50%; transition: 0.2s all;
            &:hover { background: #c9c9c9; }
        }
    } 
}
#schedule-log-modal .modal-body { max-height: 65vh; overflow: hidden; overflow-y: auto; }

/// Ingest
#storagefiles {
    tr {
        cursor: pointer;
        &.disabled { background: #eee; color: #aaa; cursor: default; }
    }
    .form-group.form-md-line-input { padding-top: 0; }
}
.stat-holder { line-height: 34px; }
#shotlist {
    
    form {
        padding: 20px; background: #eee; margin: 10px 0;
        input { text-align: center; }
        .form-group { margin-bottom: 0; }
    }
    .shotlist-table {
        tbody tr { cursor: pointer; }
    }
}
#ingest-page {
    .flowplayer {
        /*height: 360px;*/ direction: rtl;
        a[href*="hello"] { opacity: 0.00000000000000000001 !important; pointer-events: none !important; }
        .fp-header .fp-share { display: none; }
    }
    #itemlist {
        max-height: 600px; overflow: hidden; overflow-y: scroll;
        table tbody tr { cursor: pointer; }
    }
}

/// Reviews
#returnees-table, #review-table {
    tbody tr {
        cursor: pointer;
        td[colspan="100%"] { padding: 0; }
        .table {
            margin-bottom: 0;
            tr { cursor: default; }
            .portlet { margin-bottom: 0; }
        }
    }
    ._no-margin { margin: 0 !important; }
}
.chat-form {
    margin-top: 0;
    .form-horizontal {
        margin-bottom: 10px;
        .form-group.form-md-line-input { padding-top: 0; }
    }
}
#chats .chats {
    li {
        position: relative;
        .name { display: block; float: right; position: absolute; top: 50px; right: 0; font-size: 12px; }
        .body { margin-top: 8px; }
        .message { text-align: left; }
        .date { color: #777; font-size: 90%; opacity: .1; visibility: hidden; transition: 0.2s all; text-align: center; }
        &.out {
            .label-type { float: right; }
        }
        &.in {
            .label-type { float: left; }
            .name { float: left; right: auto; left: 0; }
            .message { text-align: right; }
            .body { text-align: left; }
        }
        &.system {
            .avatar { display: none; }
            .name { display: none; }
            .arrow { display: none; }
            .message {
                margin-right: 0; text-align: center; background: #efefef; margin: 0 200px; border: 1px solid #eee; border-radius: 2px !important; padding: 0;
                .body { margin: 5px 0; color: #666; font-size: 80%; }
            }
        }
        &:hover { .date { opacity: 1; visibility: visible } }
    }
}

.ui-sortable-placeholder { background: repeating-linear-gradient(45deg, #eee, #eee 10px, #fff 10px, #fff 20px); }

/// Crawl Page
@media screen and (max-width: 1500px) {
        #crawl-page .portlet .portlet-title .actions { max-width:100% !important; float: none; }
    }
#crawl-page {
    font-size: 16px;
    & > div { position: relative; }
    .btn-block { margin-left: -17px; padding-right: 30px; padding-left: 10px; text-indent: 2px; padding-top: 9px; }
    .note button + button { margin-right: 10px; margin-top: -5px; }
    [data-task="delete-all"] { margin-top: -5px; margin-right: -20px; }
    [data-task="add-crawls"] { position: absolute; top: 0; right: -33px; z-index: 90; padding-left: 10px; padding-right: 10px; }
    [data-task="review"], [data-task="delete"] {
        border: 0 none; padding: 0; margin: 0; background: transparent; width: 25px; height: 25px; text-align: center; line-height: 25px; position: absolute; top: 2px; right: 3px; z-index: 500;
        transition: 0.2s all; background: rgba(255, 255, 255, 0.7); visibility: hidden; opacity: 0;
        // &:hover { color:  }
    }
    [data-task="review"] {
        &:hover { color: #8E44AD; background: #fff; }
    }
    [data-task="delete"] { 
        right: 32px;
        &:hover { color: red; background: #fff; }
    }
    tr {
        &.ui-sortable-helper {
            button { display: none !important; }
        }
        &:hover {
            [data-task="review"], [data-task="delete"] { visibility: visible; opacity: 1; }
        }
        td { position: relative; font-size: 16px; }
    }
    // .text { margin-left:  }
    .editor-toolbar {
        ul { padding-top: 10px; }
    }
    
    .portlet {
        .portlet-title {
            padding: 12px 20px 0; border-bottom: 1px solid #e7ecf1 !important; margin-bottom: 12px;
            .actions {
                max-width:95%;
                
                .form-group {
                    margin-bottom: 0;
                    &:first-child { margin-right: 0; }
                }
            }
        }
        .crawl-items-select .table {
            tbody tr {
                td:first-child { text-align: center; }
                // .checkbox { margin-top: 5px; margin-bottom: 5px; }
            }
        }
        .crawl-items {
            thead {
                opacity: 0; border: 0 none; height: 0;
                * {
                    margin: 0; padding: 0; border: 0 none; height: 0px; cursor: move;
                }
            }
            tbody {
                tr { cursor: move }
            }
            .label {display: inline-block; margin-bottom: 2px; }
        }
        .crawl-input {
            .editable-input { display: block; border: 1px solid #ccc;  height: auto; min-height: 80px; max-height: 150px; overflow-y: auto; padding: 6px 12px; }
        }
    }

    .checkbox {
        margin-top: 1px;
        input[type=checkbox] { margin: 0; padding: 0; width: 0; height: 0; }
        label {
            position: absolute; top: 0; left: 0; width: 100%; height: 100%;
            &:before { margin-left: 10px; }
            &:after { margin-left: 10px; }
        }
    }
}
.table.hidden-header {
    thead {
        opacity: 0; border: 0 none; height: 0;
        * {
            margin: 0; padding: 0; border: 0 none; height: 0px; cursor: move;
        }
    }
}

/// Metadata page
#metadata-page {
    .table {
        .label { margin-top: 10px; display: inline-block; min-width: 100px; }
        tbody tr {
            cursor: pointer;
        }
    }
}

/// Categories page
.categories-metadata-form {
    .radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] { position: static; margin-left: 0; }
    .table {
        .radio label, .checkbox label { margin-left: 22px; }
    }
}

/// Media Item page
#mediaitem-page {
    .item-forms {
        .portlet { min-height: 460px; }
    }
    figure img { display: block; width: 100%; height: auto; }
}
#metadata-place { max-height: 450px; overflow: hidden; overflow-y: scroll; } 
#stats-page #metadata-place { max-height: none; overflow-y: auto; }

// User Manage Page
#users-manage-page {
    table > tbody > tr > td { vertical-align: middle; }
}

// User Messages
.user-select { max-width: 70%; }
.mail-to {
    .dl-horizontal { padding-top: 10px; }
    dt {
        clear: none;
        label { line-height: 35px; }
    }
    dd { height: 35px; margin-bottom: 10px; }
}


#player-container {
    background: #3C3E3F;
    figure {
        width: 100%;
        img { display: block; width: 100%; height: auto; max-height: none; }
    }
}

/*.interval-minor {  white-space: nowrap; padding: 0; height: 6px; }*/
#seekbar {
    padding: 0 10px;
    a { transition: none; }
    .current, .duration { color: #B5B8B8; }
    .seeker {
        width: 100%; height: 10px; margin-bottom: 10px;
        > .inner {
            height: 10px; position: relative; width: 100%; background: #242828; padding: 2px 0;
            &:before { background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAMCAMAAACdvocfAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFzMzM////040VdgAAAAJ0Uk5T/wDltzBKAAAAEklEQVR42mJgYAQCBopJgAADAAbwADHy2qHzAAAAAElFTkSuQmCC") repeat -2px top transparent; box-shadow: 0 -1px 0 transparent; content: "";  height: 6px; left: 0; position: absolute; top: 2px; width: 100%; overflow: hidden; }
        }
        .ui-slider-handle { display: block; cursor: pointer; box-shadow: 0 0 3px #000; width: 6px; height: 18px; overflow: hidden; background: silver; text-indent: -999px; border-radius: 9px; position: absolute; z-index: 59; top: -4px; }
        .ui-slider-handle ~ .ui-slider-handle { top: -20px; }
        .ui-slider-range { position: absolute; top: 0; left: 0; background: #449d44; height: 10px; }
    }
}
.controls {
    padding: 0 20px;
    a[data-type="controls"] {
        display: inline-block; width: 35px; height: 30px; color: #bbb; font-size: 22px; line-height: 30px; text-shadow: 0 0 2px #000;
        &:hover, &:focus, &:active { color: #fff; text-decoration: none; outline: 0 none; }
        &[data-task="play-pause"] {
            display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; font-size: 24px; color: #eee;
            &:before { content: "\f04b";  }
            &[data-state="pause"]:before { content: "\f04c"; }
        }
        &[data-task="clip-start"], &[data-task="clip-end"] { font-weight: bold; font-family: 'Arial Black'; }
    }
    .controls-container { margin: 0 100px 10px; }
}
/* Volume Bar */
#volume {
    width: 100px; min-height: 5px; margin-top: 8px; margin-left: 18px;
    .inner {
        position: relative; width: 100%; height: 18px;
        &:before { content: ''; position: absolute; top: 7px; right: 0; width: 118px; height: 3px; background: none repeat scroll 0 0 #242828; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05); }
        span.ui-slider-handle { display: block; cursor: pointer; box-shadow: 0 0 3px #000; width: 18px; height: 18px; overflow: hidden; background: silver; text-indent: -999px; border-radius: 9px !important; position: absolute; z-index: 59; top: 0; }
    }
}
/* Spped Bar */
#speed {
    width: 100px; min-height: 5px; margin-top: 8px;
    .inner {
        position: relative; width: 100%; height: 18px;
        &:before { content: ''; position: absolute; top: 7px; right: 0; width: 118px; height: 3px; background: none repeat scroll 0 0 #242828; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05); }
        .ui-slider-handle { display: block; cursor: pointer; box-shadow: 0 0 3px #000; width: 18px; height: 18px; overflow: hidden; background: silver; text-indent: -999px; border-radius: 9px !important; position: absolute; z-index: 59; top: 0; }
    }
}
.speed { 
    list-style: none; padding: 0; margin: 0; direction: rtl;
    li {
        display: inline-block; font-size: 10px; font-family: Tahoma; color: #ababab; padding: 0 5px; cursor: pointer;
        &.active {
            color: red; text-shadow: 0 0 1px darkred; cursor: default;
            &:hover { text-shadow: 0 0 transparent; }
        }
        &:hover { text-shadow: 0 0 1px #bbb }
    }
}
.range {
    margin-bottom: 10px;
    .inner { height: 8px; background: none repeat scroll 100% 0 #242828; box-shadow: 0 1px 0 rgba(255,255,255,0.05); position: relative; }
    .ui-slider-range { background: #3FABA4; height: 100%; position: absolute; top: 0; }
    .ui-slider-handle {
        color: silver; display: block; position: absolute;
        &:before { content: ']'; font-family:"Arial Black"; font-weight: bold; font-size: 16px; position: absolute; top: -8px; left: -3px; }
        & + .ui-slider-handle:before { content: '[' }
    }
}

#media-list {
    position: relative;
    #tree { width: 24%; background: #fff; padding: 15px; position: absolute; top: 0; left: 0; display: none; }
    // .mainbody { margin-left: 25%; }
}