// @import "bootstrap-switch";
@import "../bootstrap/_variables";
@import "../bootstrap/_mixins";
@import "awesome-bootstrap-checkbox";
// html, body { direction: ltr; text-align: left; }
h1, h2, h3, h4, h5, h6 { font-family: 'Vazir', Tahoma; direction: ltr; text-align: left; }
.help-block, p, button, label, table, tr, td, textarea  { direction: ltr; text-align: left; }
.page-content { padding-top: 30px; }
.breadcrumbs { 
    background: #f9f9f9; margin-left: -30px; margin-right: -30px; padding-left: 30px; padding-right: 30px; height: 40px; 
    h1 { font-family: 'Vazir', Tahoma; line-height: 40px; }
}
.navbar { min-height: 0 !important; }  
.top-tools {
    float: left; height: 100%; line-height: 40px;
}
.page-header.navbar .top-menu .navbar-nav > li.quick-sidebar-toggler > i:before { content: "\f08b" }
// .page-container { padding: 0; } 
.page-header.navbar .menu-toggler { background-image: url('../img/sidebar-toggle-light.png') }

@media (min-width: 992px) {
    .page-sidebar-menu.page-sidebar-menu-hover-submenu li .sub-menu { left: 0; }
}
.page-content { padding-top: 0 !important; }
.page-sidebar { text-align: left; }
// #main { margin-top: -10px; }
.table figure {
    width: 120px; 
    img { display: block; width: 100%; height: auto; }
}
.table .form-group.form-md-line-input { margin-bottom: 0; } 
input.time { text-align: center; }
.login-content h1 { margin-bottom: 60px; } 
.toast { direction: ltr; text-align: left }
.box.portlet { direction: ltr; text-align: left; }
.form-inline .form-group { margin-right: 10px; }
input.datepicker { direction: rtl; text-align: right; min-width: 200px; }