// Imports
@import "../bootstrap/_variables";
@import "../bootstrap/_mixins";
@import "awesome-bootstrap-checkbox";
@import "font";
@import "login";
@import "jstree";
@import "modal-transitions";
 
// Global Rules
h1, h2, h3, h4, h5, h6 { font-family: 'Vazir', Tahoma; direction: ltr; text-align: left; }
.help-block, p, button, label, table, tr, td, textarea  { direction: ltr; text-align: left; }
.label { font-family: 'Vazir', Tahoma; direction: ltr; }

// Header
.breadcrumbs { 
    background: #f9f9f9; margin-left: -30px; margin-right: -30px; padding-left: 30px; padding-right: 30px; height: 40px; 
    h1 { font-family: 'Vazir', Tahoma; line-height: 40px; }
}
.navbar { min-height: 0 !important; }
.top-tools { float: left; height: 100%; line-height: 40px; }
.page-header.navbar .top-menu .navbar-nav > li.quick-sidebar-toggler > i:before { content: "\f08b" }
.page-header.navbar .menu-toggler { background-image: url('../img/sidebar-toggle-light.png') }
.page-header.navbar .page-logo {
    width: 315px;
    .logo-default { margin-top: 5px; }
}

// Toolbar
#toolbar:empty { visibility: hidden; height: 0; margin-top: -50px; transition: 0.2s all; }
#toolbar .input-group-addon {
    min-width: 84px;
    &.has-icon {
        min-width: 0; width: 40px;
        > i { color: #888; }
    }
}
#sub-toolbar { border-top: 3px solid #8E44AD; }
.dropdown-menu { font-family: 'Vazir', Tahoma; }
.ltr { font-family: Tahoma, Arial; direction: rtl; }
.btn .index {
    display: inline-block;
    &:before { content: '['; }
    &:after { content: ']'; }
    &:empty { display: none; }
}

// Componenets 
.ui-draggable-handle{-ms-touch-action:none;touch-action:none}
.table {
    figure {
        width: 120px;
        img { display: block; width: 100%; height: auto; }
    }
    .form-group.form-md-line-input { margin-bottom: 0; }
}
input[type="checkbox"] { outline: 0 none !important; }
input.focus-helper { width: 0px; height: 0px; border: 0 none; box-shadow: 0 none; background: transparent; }
input.time { text-align: center; direction: rtl; } 
input.datepicker { direction: rtl; text-align: right; /* min-width: 200px; */ }
.form-inline {
    .form-group { margin-right: 10px; }
    button ~ button { margin-left: 10px; }
}
.form-horizontal {
    .checkbox { margin-top: 6px; }
}
.fixed-label.form-group.form-md-line-input .form-control ~ label { color: #cdcdcd; font-size: 12px; }
.box.portlet { direction: ltr; text-align: left; }
.tt-cursor { background: #eee; }
.tt-hint { color: #ccc !important } 
.form-group.form-md-line-input .help-block { max-height: 18px; overflow: hidden; }
.modal-content { border-radius: 0; }
.clip-line { margin-bottom: 0; max-height: 16px; overflow: hidden; }
////// JWPlayer hacks
#player_controlbar.jwcontrolbar { opacity: 1 !important; display: inline-block !important; visibility: visible !important; }
.jwrailgroup.Buffer { opacity: 1 !important; }
.jwicon { width: 72px !important; }

// Plugins
.toast { direction: ltr; text-align: left }
.toast-title { margin-bottom: 7px; }
#tree.jstree [deleted="true"] a {
    color: red !important;
    .jstree-icon { color: red !important; -webkit-filter: none; filter: none; }
}
.bootbox {
    .bootbox-close-button { margin-top: 0 !important; }
    .bootbox-body { direction: ltr; text-align: left; }
    button[data-bb-handler="confirm"] { float: left; }
}
 
// Mainbody
.page-content { padding-top: 30px; } 
.page-content { padding-top: 0 !important; }

// Sidebar
.page-sidebar { text-align: left; }

@media (min-width: 992px) { .page-sidebar-menu.page-sidebar-menu-hover-submenu li .sub-menu { left: 0; } }

// Footer
.page-footer-fixed .page-footer {
    background-color: #d7ddec;
}
.page-footer-inner { width: 100% }
#status-items { float: left; }
#server-time { float: right; color: #000 }

// Fixed Toolbar
body.fixed-toolbar {
    #toolbar { position: fixed; top: 0; z-index: 800; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12); }
    #main { margin-top: 25px; }
}

// Pages
.page-404-full-page .page-404 {
    margin-top: 210px;
    .number { top: -40px; }
}
/// Login
.login-content h1 { margin-bottom: 60px; } 

/// Schedules
#schedule-page {
    tbody tr {
        border-left: 5px solid #ddd;
        td:first-child { position: relative; }
        .tools {
            position: absolute; top: 0; left: 0; width: 37px; background: #cbcbcb; opacity: 0; visibility: hidden; transition: 0.2s all; height: 100%;
            .btn {
                height: 50%; transition: 0.2s all;
                &:hover { background: #c9c9c9; }
            }
        } 
        &.active {
            border-left-color: #cbcbcb;
            .tools { left: -42px; opacity: 1; visibility: visible; }
        }
        &.new { border-left-color: lightgreen; }
        &.error { border-left-color: red !important; }
        &.edited { border-left-color: #6C9EE0; }
    }
    thead tr {
        th:not([class]) { min-width: 50px; }
    }
    .text-area-container { padding-top: 0; }
} 

/// Reviews
#review-table {
    tbody tr {
        cursor: pointer;
        td[colspan="100%"] { padding: 0; }
        .table {
            margin-bottom: 0;
            tr { cursor: default; }
            .portlet { margin-bottom: 0; }
        }
    }
    ._no-margin { margin: 0 !important; }
}
.chat-form {
    margin-top: 0;
    .form-horizontal { margin-bottom: 10px; } 
}
#chats .chats {
    li {
        position: relative;
        &.out {
            .label-type { float: right; }
            .name { display: block; float: right; position: absolute; top: 50px; right: 0; font-size: 12px; }
            .body { margin-top: 8px; }
        }
    }
}


#player-container { background: #3C3E3F }

/*.interval-minor {  white-space: nowrap; padding: 0; height: 6px; }*/
#seekbar {
    padding: 0 10px;
    a { transition: none 0s; }
    .current, .duration { color: #717778; }
    .seeker {
        width: 100%; height: 10px; margin-bottom: 10px;
        > .inner {
            height: 10px; position: relative; width: 100%; background: #242828; padding: 2px 0;
            &:before { background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAMCAMAAACdvocfAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFzMzM////040VdgAAAAJ0Uk5T/wDltzBKAAAAEklEQVR42mJgYAQCBopJgAADAAbwADHy2qHzAAAAAElFTkSuQmCC") repeat -2px top transparent; box-shadow: 0 -1px 0 transparent; content: "";  height: 6px; left: 0; position: absolute; top: 2px; width: 100%; overflow: hidden; }
        }
        .ui-slider-handle { display: block; cursor: pointer; box-shadow: 0 0 3px #000; width: 6px; height: 18px; overflow: hidden; background: silver; text-indent: -999px; border-radius: 9px; position: absolute; z-index: 59; top: -4px; }
        .ui-slider-handle ~ .ui-slider-handle { top: -20px; }
        .ui-slider-range { position: absolute; top: 0; left: 0; background: #449d44; height: 10px; }
    }
}
.controls {
    padding: 0 20px;
    a[data-type="controls"] {
        display: inline-block; width: 40px; height: 30px; color: #bbb; font-size: 24px; line-height: 30px; text-shadow: 0 0 2px #000;
        &:hover, &:focus, &:active { color: #fff; text-decoration: none; outline: 0 none; }
        &[data-task="play-pause"] {
            display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; font-size: 24px; color: #eee;
            &:before { content: "\f04b";  }
            &[data-state="pause"]:before { content: "\f04c"; }
        }
    }
    .controls-container { margin: 0 100px 10px; }
}
/* Volume Bar */
#volume {
    width: 100px; min-height: 5px; margin-top: 8px; margin-left: 18px;
    .inner {
        position: relative; width: 100%; height: 18px;
        &:before { content: ''; position: absolute; top: 7px; right: 0; width: 118px; height: 3px; background: none repeat scroll 0 0 #242828; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05); }
        span.ui-slider-handle { display: block; cursor: pointer; box-shadow: 0 0 3px #000; width: 18px; height: 18px; overflow: hidden; background: silver; text-indent: -999px; border-radius: 9px !important; position: absolute; z-index: 59; top: 0; }
    }
}
/* Spped Bar */
#speed {
    width: 100px; min-height: 5px; margin-top: 8px;
    .inner {
        position: relative; width: 100%; height: 18px;
        &:before { content: ''; position: absolute; top: 7px; right: 0; width: 118px; height: 3px; background: none repeat scroll 0 0 #242828; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05); }
        .ui-slider-handle { display: block; cursor: pointer; box-shadow: 0 0 3px #000; width: 18px; height: 18px; overflow: hidden; background: silver; text-indent: -999px; border-radius: 9px !important; position: absolute; z-index: 59; top: 0; }
    }
}
.speed { 
    list-style: none; padding: 0; margin: 0; direction: rtl;
    li {
        display: inline-block; font-size: 10px; font-family: Tahoma; color: #ababab; padding: 0 5px; cursor: pointer;
        &.active {
            color: red; text-shadow: 0 0 1px darkred; cursor: default;
            &:hover { text-shadow: 0 0 transparent; }
        }
        &:hover { text-shadow: 0 0 1px #bbb }
    }
}