@import "../bootstrap/_variables";
@import "../bootstrap/_mixins";
// Base transitions


@-webkit-keyframes fadeIn {
    0% {
	opacity: 0;
    }

    100% {
	opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
	opacity: 0;
    }

    100% {
	opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
@-webkit-keyframes zoomIn {
    0% {
	opacity: 0;
	-webkit-transform: scale3d(.3, .3, .3);
	transform: scale3d(.3, .3, .3);
    }

    50% {
	opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
	opacity: 0;
	-webkit-transform: scale3d(.3, .3, .3);
	transform: scale3d(.3, .3, .3);
    }

    50% {
	opacity: 1;
    }
}

.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}

@-webkit-keyframes zoomInDown {
    0% {
	opacity: 0;
	-webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
	transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
	-webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
	animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    60% {
	opacity: 1;
	-webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
	transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
	-webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}

@keyframes zoomInDown {
    0% {
	opacity: 0;
	-webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
	transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
	-webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
	animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    60% {
	opacity: 1;
	-webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
	transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
	-webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}

.zoomInDown {
    -webkit-animation-name: zoomInDown;
    animation-name: zoomInDown;
}

@-webkit-keyframes zoomInUp {
    0% {
	opacity: 0;
	-webkit-transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
	transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
	-webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
	animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    60% {
	opacity: 1;
	-webkit-transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
	transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
	-webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}

@keyframes zoomInUp {
    0% {
	opacity: 0;
	-webkit-transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
	transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
	-webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
	animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    60% {
	opacity: 1;
	-webkit-transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
	transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
	-webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}

.zoomInUp {
    -webkit-animation-name: zoomInUp;
    animation-name: zoomInUp;
}

@-webkit-keyframes zoomOut {
    0% {
	opacity: 1;
    }

    50% {
	opacity: 0;
	-webkit-transform: scale3d(.3, .3, .3);
	transform: scale3d(.3, .3, .3);
    }

    100% {
	opacity: 0;
    }
}

@keyframes zoomOut {
    0% {
	opacity: 1;
    }

    50% {
	opacity: 0;
	-webkit-transform: scale3d(.3, .3, .3);
	transform: scale3d(.3, .3, .3);
    }

    100% {
	opacity: 0;
    }
}

.zoomOut {
    -webkit-animation-name: zoomOut;
    animation-name: zoomOut;
}

@-webkit-keyframes zoomOutDown {
    40% {
	opacity: 1;
	-webkit-transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
	transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
	-webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
	animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    100% {
	opacity: 0;
	-webkit-transform: scale3d(.1, .1, .1) translate3d(0, 2000px, 0);
	transform: scale3d(.1, .1, .1) translate3d(0, 2000px, 0);
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom;
	-webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}

@keyframes zoomOutDown {
    40% {
	opacity: 1;
	-webkit-transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
	transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
	-webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
	animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    100% {
	opacity: 0;
	-webkit-transform: scale3d(.1, .1, .1) translate3d(0, 2000px, 0);
	transform: scale3d(.1, .1, .1) translate3d(0, 2000px, 0);
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom;
	-webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}

@-webkit-keyframes zoomOutUp {
    40% {
	opacity: 1;
	-webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
	transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
	-webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
	animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    100% {
	opacity: 0;
	-webkit-transform: scale3d(.1, .1, .1) translate3d(0, -2000px, 0);
	transform: scale3d(.1, .1, .1) translate3d(0, -2000px, 0);
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom;
	-webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}

@keyframes zoomOutUp {
    40% {
	opacity: 1;
	-webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
	transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
	-webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
	animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    100% {
	opacity: 0;
	-webkit-transform: scale3d(.1, .1, .1) translate3d(0, -2000px, 0);
	transform: scale3d(.1, .1, .1) translate3d(0, -2000px, 0);
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom;
	-webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}

.zoomOutUp {
    -webkit-animation-name: zoomOutUp;
    animation-name: zoomOutUp;
}


// Modal effects
$backdrop-animation-duration: 0.4s;
$modal-animation-duration: .5s;

//  IMPORTANT : whatever transition you choose,
//  you have to preseve the original fade transition effect
//  in order to preserve the boostrap js transition on hiding modals
//  example with newspaper effect :
//  --
//
//  <div class="modal fade newspaper" id="myModalId" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
//    <div class="modal-dialog">
//      <div class="modal-content">
//        ...
//      </div>
//    </div>
//  </div>

// Global Backdrop background
// ---------------------------
.modal-backdrop {
    // Fade for backdrop  
    -webkit-backface-visibility:hidden;
    &.zoom, &.newspaper, &.move-horizontal, &.move-from-top, &.unfold-3d, &.zoom-out {
	opacity: 0;
	transition: opacity $backdrop-animation-duration ease;
    }
    &.in {
	opacity: $modal-backdrop-opacity;
    }

    &.unfold-3d {
	perspective: 500;
    }
}

// transition effects
// --------------------

.modal {
    // Zoom effect
    // -------------
    &.zoom .modal-dialog {
	opacity: 0;
	@include transition(all $modal-animation-duration ease-in-out);
	transform: scale(0.6);
    }
    &.in .modal-dialog {
	opacity: 1;
	@include transition(all 0.4s ease-in-out);
	transform: scale(1); 
    }

    // Zoom-out effect
    // --------------------

    &.fade.zoom-out .modal-dialog,
    &.zoom-out .modal-dialog {
	opacity: 0;
	transition: all $modal-animation-duration;
	transform: scale(1.3);
    }
    &.fade.zoom-out.in .modal-dialog,
    &.in .modal-dialog {
	opacity: 1;
	transform: scale(1);
    }
}

//special 3d transition (use of modernizr to detect browser support)
// -------------------------------------------------------------------

.csstransforms3d {
    .modal {
	// real 3d unfold
	// --------------------
	&.unfold-3d .modal-dialog {
	    transform: none;
	    transform-origin: 50% 100%;
	    transform: scale(.7) rotate3d(-1, 1, 0, -60deg);
	}
	&.in .modal-dialog {
	    transform: scale(1) rotate3d(-1, 1, 0, 0deg);
	}
    }
}

